In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv("Datasets/Titanic-Dataset.csv",usecols = ["Age","Fare","Pclass","Survived"])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [4]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [5]:
x = df.drop("Survived",axis = 1)
y = df["Survived"]

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)
x_train.shape,x_test.shape

((712, 3), (179, 3))

# KNN Imputer

In [7]:
knn = KNNImputer(n_neighbors = 3, weights = "distance" )
x_train_trans = knn.fit_transform(x_train)
x_test_trans = knn.transform(x_test)

In [8]:
pd.DataFrame(x_train_trans,columns = x_train.columns).head(6)

   Pclass        Age     Fare
0     3.0   9.000036  15.2458
1     2.0  31.000000  10.5000
2     2.0  31.000000  37.0042
3     3.0  20.000000   4.0125
4     3.0  21.000000   7.2500
5     1.0  45.500000  28.5000

In [9]:
lr = LogisticRegression()
lr.fit(x_train_trans,y_train)
y_pred = lr.predict(x_test_trans)
accuracy_score(y_test,y_pred)

0.7318435754189944

# Iterative Imputer

In [10]:
# explicitly require this experimental feature
from sklearn.experimental import enable_iterative_imputer  # noqa
# now you can import normally from sklearn.impute
from sklearn.impute import IterativeImputer

In [17]:
iter_ = IterativeImputer(max_iter = 10,random_state = 0)
x_train_trans1 = iter_.fit_transform(x_train)
x_test_trans2 = iter_.transform(x_test)

In [18]:
pd.DataFrame(x_train_trans1,columns=x_train.columns).head(6)

   Pclass        Age     Fare
0     3.0  24.666082  15.2458
1     2.0  31.000000  10.5000
2     2.0  31.000000  37.0042
3     3.0  20.000000   4.0125
4     3.0  21.000000   7.2500
5     1.0  45.500000  28.5000

In [19]:
lr = LogisticRegression()
lr.fit(x_train_trans1,y_train)
y_pred = lr.predict(x_test_trans2)
accuracy_score(y_test,y_pred)

0.7318435754189944